#map { width:100%; height: 400px; }

.menu-ui {
  background:#fff;
  margin:20px auto;
  text-align: center;
}
.menu-ui a {
  font-size:13px;
  color:#404040;
  margin:0;padding:0;
  padding:10px;
  width:100px;
  text-decoration:none;
  text-align:center;
  border:0;
}
.menu-ui a:first-child {
  margin-right:5px;
}
.menu-ui a:last-child {
  margin-left:5px;
}
.menu-ui a:hover {
  background:#446688;
  color:#fff;
}
.menu-ui a.active {
  background:#446688;
  color:#fff;
}
.menu-ui a.active:hover {
  background:#2d3939;
  color:#fff;
}
