title: colemanm.org
name: colemanm.org
description: "Notes + Links from @colemanm"
author:
  name: Coleman McCormick
  email: coleman@mcco.me
  uri: https://www.colemanm.org
permalink: /post/:title/
port: 4001
url: https://www.colemanm.org

# tag_page_layout: tag
# tag_page_dir: topics

collections:
  maps:
    output: true
  books:
    output: true
    permalink: /books/:title/
  articles:
    output: true
    permalink: /articles/:title/
  quotes:
    output: true
    permalink: /quotes/:title/

feed:
  path: atom.xml

exclude:
  - CONTRIBUTING.md
  - README.md
  - bundle
  - script
  - CNAME
  - Gemfile
  - Gemfile.lock
  - ".bundle"
  - vendor

plugins:
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
