---
layout: default
description: "notes and links from @colemanm"
---
<div class="posts">
  {% for post in site.categories.blog limit:10 %}
    {% if post.status != "draft" %}
      <div class="post">
        <h1><a name='{{ post.date | date: "%m.%d.%Y" }}' href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="body">
          {{ post.content }}
          <span class="date">&mdash; {{ post.date | date: "%m.%d.%Y" }} &mdash;</span>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>