---
layout: default
---
<div class="posts">
  {% for post in site.categories.blog limit:10 %}
    {% if post.type == 'link' %}
      <div class="post other link">
        <span class="icon" title="This is a link elsewhere"></span>
        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
      </div>
    {% else %}
      <span class="date">{{ post.date | date: "%m.<strong>%d</strong>.%Y"  }}</span>
      <div class="post">
        <h1><a name='{{ post.date | date: "%m.%d.%Y" }}' href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="body">
          {{ post.content }}
        </div>
        {% include listed-post-footer.html %}
      </div>
    {% endif %}
  {% endfor %}
</div>