---
layout: default
title: Library
permalink: /books/
description: "My personal library."
---

<div class="page archive">
<h1>Books</h1>

<table cellspacing="0" class="archive-table">
{% assign books = site.books | sort: 'date_completed' | reverse %}
{% for book in books %}
	{% if book.status != "draft" %}
  <tr class="{% cycle 'even', 'odd' %}">
    <td><a href='{{ book.url }}'>{{ book.title | xml_escape }}</a></td>
    <td>{% include bookrating.html %}</td>
    <td>{{ book.date_completed | date: '%B %Y' }}</td>
    <td class="right-cell">{{ book.publish_year }}</td>
  </tr>
  {% endif %}
{% endfor %}
</table>
</div>
