{% if page.title == "Search" %}
<script src="/js/lunr.min.js"></script>
<script src="/js/lunr-feed.js"></script>
{% endif %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "70c192db078d455aba41d4de31026cbe"}'></script>
<!-- End Cloudflare Web Analytics -->