<footer class="my-10">
  <div class="max-w-6xl mx-auto px-4 text-center text-gray-500">
    <span>Coleman McCormick © 2010-2025</span>
    <span class="text-[#BBBBBB]">•</span>
    <a href="https://x.com/colemanm" class="text-[#517AA3] hover:text-[#3d5d7d]">
      <span>𝕏</span>
    </a>
    <span class="text-[#BBBBBB]">•</span>
    <a href="https://www.resextensa.co" class="text-[#517AA3] hover:text-[#3d5d7d]">
      <svg class="w-5 h-5 inline" fill="currentColor" viewBox="0 0 24 24">
        <path d="M6.012 2C4.351 2 3 3.34 3 4.988V21l9-4.5 9 4.5V4.988C21 3.34 19.649 2 17.988 2H6.012z"/>
      </svg>
    </a>
  </div>
</footer>
