<div class="post-footer">
  
  <table cellspacing="0" cellpadding="0" class="social-links">
    <tr>
      <td style="width: 10%;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url}}{{ page.url }}" data-text="{{ post.title }}" data-via="colemanm">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
      <td><div class="fb-like" data-href="{{site.url}}{{ page.url }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true" data-font="lucida grande"></div></td>
      <td><p class="comment-thread"><a href="{{ page.url }}#disqus_thread">comments</a></p></td>
    </tr>
  </table>

</div>