<div id="headerwrap">
<div id="header">
  <table>
    <tr>
      <td>
        <h1><a href="/">colemanm.org</a></h1>
      </td>
      <td>
      <div id="navigation">
        <ul>
          <li><a href="/archive/"{% if page.url == "/archive/index.html" %} class="active"{% endif %}>Archive</a></li>
          <!-- <li><a href="/topics/"{% if page.url == "/topics/index.html" %} class="active"{% endif %}>Topics</a></li> -->
          <li><a href="/books/">Books</a></li>
          <li><a href="/links/">Links</a></li>
          <!-- <li><a href="/about">About</a></li> -->
          <li><a href="https://twitter.com/colemanm"><i class="fa fa-twitter fa-lg aqua" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      </td>
    </tr>
  </table>

<!--
  <p class="tagline">notes and links from <a href="http://twitter.com/colemanm">@colemanm</a>. maps, books, sci-fi, data.</p> -->
</div>
</div>
