<ul id="navigation">
  <li><a href="/archive" {% if page.url == "/archive/index.html" %}class="active"{% endif %}>Archive</a></li>
  <li><a href="/maps" {% if page.url == "/maps/index.html" %}class="active"{% endif %}>Maps</a></li>
  <li><a href="/talks" {% if page.url == "/talks/index.html" %}class="active"{% endif %}>Talks</a></li>
</ul>

<h1><a href="/">colemanm.org</a></h1>
<p class="tagline">notes and links from <a href="http://twitter.com/colemanm">@colemanm</a>. maps, books, sci-fi, hacks.</p>