<meta property="author" content="Coleman McCormick" />
<meta name='description' content='{% if page.description %}{{ page.description | xml_escape }}{% else %}notes and links - @colemanm{% endif %}'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<meta property="og:type" content="article" />
<meta property="og:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}notes and links - @colemanm{% endif %}" />
<meta property="og:title" content="{{ page.title | xml_escape }}" />
<meta property="og:site_name" content="colemanm.org" />
{% if page.img %}
<meta property="og:image" content="{{ site.url }}{{ page.img }}" />
{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@colemanm" />
<meta name="twitter:creator" content="@colemanm" />
<meta name="twitter:title" content="{{ page.title | xml_escape }}" />
<meta name="twitter:image" content="{{ site.url }}{{ page.img }}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}notes and links - @colemanm{% endif %}" />
