// Base styles

$fonts: Lato, sans-serif;

// Colors
$darkgrey: #333;
$grey: #bcd;
$aqua: #446688;
$darkblue: #2d3939; 
$orange: #dd9922;

.aqua   { color: $aqua; }
.orange { color: coral; }
.yellow { color: gold;  }
.green  { color: green; }
.red    { color: red; }

.bold { font-weight: bold; }
.clearfix { overflow: auto; }

html, body, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
html { font-size: 100% }
body {
  margin: 0 auto;
  color: $darkgrey;
  font: normal 1.1em/1.8 $fonts;
}
a, a:visited, a:active {
  color: #446688;
  text-decoration: none;
  border-bottom: 1px solid #bcd;
}
a:hover {
  color: #2d3939;
  border-bottom: 1px solid #dd9922;
}

/* images */
img.full {
  position: relative;
  text-align: center;
  display: block;
  left: -75px;
  margin: 0 auto;
  padding: 10px 0;
}
img.partial {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.post img.right { float: right; margin: 0 0 12px 12px; left:0 }
.post img.left { float: left; margin: 0 12px 12px 0; left: 0 }
img.thumb.left {
  margin-right: 6px;
}
img.thumb.right {
  margin-left: 6px;
}
img.bordered { border: 1px solid #ddd; }
.caption {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  display: block;
  margin-top: 5px;
}