// Structure and layout
// --------------------------

// General layout
#container {
  width: 700px;
  margin: 0 auto;
}
#headerwrap {
  width: 100%;
  padding: 8px 0;
  background: #f2f3f3;
  border-bottom: 2px solid #e5e7e7;
  margin-bottom: 40px;
}
#header {
  width: 850px;
  margin: 0 auto;
}
#header h1 a {
  border: none;
  color: #446688;
  font-weight: bold;
  text-decoration: none;
}
#header h1 a:hover {
  color: #dd9922;
}
#header table { width: 100%; }
#navigation {
  text-align: right;
}
#navigation ul { padding: 0; margin: 0; list-style: none; display: inline-block; }
#navigation ul li {
  display: inline;
  padding-left: 20px;
}
#navigation a {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.8em;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #557788;
}
#navigation a:hover, #navigation a.active {
  border-bottom: 1px solid #dd9922;
  text-decoration: none;
}

// Blog
.post, .link, .book { margin: 2em 0; }
.post h2 {
  // font-size: 2em;
  // line-height: 1.3em;
}
.post h2 a {
  border: none;
} 
.post hr {
  margin: 30px 0;
  background: none;
  border: 0;
  padding: 0;
}
.post hr::after {
  // content: '⁂';
  content: '∼ ✦ ∼';
  display: block;
  opacity: 0.8;
  color: #ddd;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}
.post .meta, .link .meta {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  color: #bbb;
  clear: left;
}
.link .meta { font-size: 0.8em; }
.post span.meta a {
  border: 0;
}
.post .meta em {
  font-size: 0.8em;
  font-style: normal;
}
.post .book {
  position: relative;
  left: -75px;
  width: 810px;
  padding: 20px;
  border: 1px solid #ccc;
  clear: both;
}
.post .book-snippet {
  position: relative;
  left: -60px;
  width: 780px;
  padding: 20px 20px 5px 20px;
  margin-top: 40px;
  clear: both;
  border-top: 1px solid #eee;
}
.post .book-snippet .subtitle {
  font-style: italic;
}
.post .book-snippet .book-author {
  font-size: 0.9em;
}
.post .book-title {
  font-size: 1.25em;
  color: #dd9922;
  display: block;
}
.post .author {
  font-size: 0.9em;
}
.post .book img, .post .book-snippet img {
  height: 230px;
  float: right;
}
.post .book .book-full-img, .post .book-snippet .book-full-img {
  height: 300px;
  float: right;
}
.image-credit {
  margin-top: 25px;
  text-align: center;
  font-size: small;
  color: #bbb;
}
.twitter-tweet {
  margin: 15px auto;
}
.article h2 {
  font-family: Georgia, serif;
}

// Topics
.topic {
  font-size: 0.8em;
  text-align: center;
}

// Related Posts
.related-list span {
  color: $darkgrey;
  font-size: 0.9em;
  font-weight: bold;
}
.related-list ul {
  font-size: 0.8em;
  padding-inline-start: 20px;
}

// Video
.video {
  position: relative;
  left: -75px;
  width: 850px;
	padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin: 30px auto;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Tables
.post table {
  margin: 25px auto;
  border-collapse: collapse;
}
.post table td, .post table th  {
  padding: 3px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.post table td { font-size: 0.9em; }
.post table td.right-cell { text-align: right; color: #555; }
.post table tr.odd { background-color: #F2EDE8; }
.post-table {
  margin-bottom: 15px;
}

// Images
img.full {
  position: relative;
  text-align: center;
  display: block;
  left: -75px;
  margin: 0 auto;
  padding: 5px 0;
}
img.partial {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.post img.right { float: right; margin: 0 0 12px 12px; left:0 }
.post img.left { float: left; margin: 0 12px 12px 0; left: 0 }
img.thumb.left {
  margin-right: 6px;
}
img.thumb.right {
  margin-left: 6px;
}
img.bordered { border: 1px solid #ddd; }
.caption {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  display: block;
  margin: 5px 0 25px 0;
}

// Places
.place { text-align: center; }

// Archives
.archive h1 {
  margin: 10px 0;
}

.archive-select {
  text-align: center;
}
.archive-select a {
  background-color: #fff;
  padding: .45em .55em;
  text-decoration: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: inline-block;
}

.archive ul {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
}
.archive li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ccc;
}
.archive table {
  width: 100%;
  margin-top: 15px;
}
.archive table td {
  padding: 3px 3px;
}
.archive table td.right-cell { text-align: right; color: #555; }
.archive table tr.odd { background-color: #F2EDE8; }
.archive-table {
  margin-bottom: 15px;
}
.browse-archive {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

// Footnotes
.footnotes {
  font-size: 0.8em;
  margin: 45px 0 15px 0;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.footnotes ol {
  border-top: #ddd;
}
.footnotes p {
  margin: 2px 0;
}

.quote { font-size: 1.2em; }
.place { text-align: center; }

.end {
  text-align: center;
  color: #ddd;
  font-size: 18px;
  margin: 25px 0;
}

// Books
.book-archive {
  font-size: 0.85em;
}
.book .subtitle {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 10px;
}
.book .series {
  color: #999;
  font-size: 0.85em;
}
.book-meta {
  display: block;
  font-size: 0.8em;
  color: #bbb;
}
.book-data {
  font-size: 0.8em;
  color: #aaa;
  margin-bottom: 30px;
}
.book .book-full-img {
  height: 300px;
  float: right;
  margin-left: 5px;
}
.rating { color: #333; }
.book .newsletter img, .post .newsletter img {
  width: 20px;
}
.book .newsletter .icon, .post .newsletter .icon {
  vertical-align: middle;
}
.post .newsletter {
  font-size: .8em;
  color: #aaa;
}

// Maps
.maps h1 { margin: 10px 0; }
.maps a img { border: 2px solid #f0f0f0; }
.maps a:hover img { border: 2px solid #4da3a3; }
.maps .caption {
  text-align: center;
  color: #777;
  margin: 4px 0 20px;
  padding: 0;
  font-style: italic;
  font-size: 1.2em;
}
.maps .caption .about {
  color: #bbb;
  font-size: 0.8em;
}

// Talks
.talk { margin-bottom: 15px; }
.talk .image { margin-bottom: 20px; }
.talks h1 { margin: 10px 0; }
.talks a.img, .talks a.img:hover { border: none; }
.talk .title {
  font-size:  1.1em;
  margin-top:  10px;
}

.share { display:  block; text-align:  center; }
.share iframe {
  vertical-align:  top;
}

// Quotes
.quote {
  font-size: 1.2em;
}

// Search
.search-input {
  -webkit-appearance: none;
  border: 1px solid #e5e7e7;
  font-family: inherit;
  font-size: 1.3em;
  width: 100%;
  padding: 0.25em;
}
.result .post-date {
  font-size: 0.8em;
  color: #bbb;
}
.result p {
  font-size: 0.9em;
}
#results {
  margin-bottom: 30px
}

// Footer
#footer {
  font-size: 0.8em;
  margin: 35px 0;
  text-align: center;
  color: #aaa;
}
#footer a { border: none;}

// Hide mobile nav by default
.mobile-nav { display: none; }

// Media Queries

@media screen and (max-width: 640px) {
  #container, #header {
    width: auto;
  }
  #headerwrap { padding-bottom: 5px; }
  #header { padding: 0 15px; }
  #navigation .nav-books,
  #navigation .nav-links,
  #navigation .nav-tw { display: none; }
  .post, .link { font-size: 0.85em; }
  .post img, .post img.full, .link img, .link img.full { width: 100%; left: 0; } 
  .post .book {
    width: 100%;
    left: -20px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }
  .post .book-snippet {
    width: 100%;
    left: -20px;
    padding: 10px 20px;
    margin-top: 40px;
    clear: both;
    border-top: 1px solid #eee;
  }
  .post .book img, .post .book-snippet img {
    width: 100px;
    height: auto;
    float: right;
  }
  .post .book img { display: none; }
  .post .book ul { margin-bottom: 5px; }
  .post ul, .post ol { padding-left: 1.5em; }
  .video { width: 100%; left: 0; }
  .book-archive .right-cell,
  .book-archive .book-date-completed { display: none; }
  .book { font-size: 0.9em; }
  .book ul { padding-left: 1.5em; }
  .book .book-full-img { display: none; }
  .book img.full { width: 100%; left: 0; }
  .post table { border: 0; }
  .post table thead {
    position: absolute;
    border: 0;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    top: -9999em;
    left: -9999em;
    padding: 0;
  }
  .post table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .post table th {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  .post table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .9em;
    text-align: center;
  }
  .post table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .post table td:last-child {
    border-bottom: 0;
  }
  .limiter {
    width: auto;
    padding: 0 20px
  }
  .archive { font-size: 0.9em; }
  .archive .right-cell  { display: none; }
  h1 { font-size: 1.6em; }
  blockquote { margin: 0; }
  .subscribe-form {
    display: none;
  }
}

// Subscribe form
#mc_embed_signup {
  clear: left;
  margin-bottom: 25px;
}
.subscribe-form {
  margin: 20px 0;
  width: 700px;
  height: 320px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #container, #header {
    width: 620px;
  }
  #headerwrap { padding-bottom: 5px; }
  #header { padding: 0 15px; }
  .post, .link { font-size: 0.85em; }
  .post img.full, .link img.full { width: 100%; left: 0; }
  .post img.partial, link img.partial {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .post .book {
    width: 100%;
    left: -20px;
  }
  .post .book-snippet {
    position: relative;
    left: -75px;
    width: 680px;
    padding: 20px 20px 5px 20px;
    margin-top: 40px;
    clear: both;
    border-top: 1px solid #eee;
  }
  .post .book img, .post .book-snippet img {
    height: 180px;
    float: right;
  }
  .post .book ul { margin-bottom: 5px; }
  .post .book img {
    width: auto;
    height: 230px;
    float: right;
  }
  .book img.full { width: 100%; left: 0; }
  .video { width: 100%; left: 0; }
  .limiter {
    width: auto;
    padding: 0 20px
  }
  /*.archive { font-size: 0.9em; }
  .archive .right-cell  { display: none; }*/
  h1 { font-size: 1.6em; }
  blockquote { margin: 0; }
  .subscribe-form {
    margin: 20px 0;
    width: 580px;
    height: 320px;
  }
}
