---
layout: default
---

<div class="book">
  {% assign book = page %}
  <h1>{{ book.title | xml_escape }}</h1>
  <h2 class="subtitle">{{ book.subtitle | xml_escape }}</h2>
  <h3>by <span class="author">{{ book.author }}</span></h3>
  <span class="meta">Completed: {{ book.date_completed | date: '%B %-d, %Y' }} &bull; Published: {{ book.publish_year }} &bull; <a href="{{ book.url }}" title="Permalink">#</a></span>
  {% include bookrating.html %}
  <div class="body">{{ content }}</div>
  <div class="book-meta">
    <ul>
      <li>{{ book.type | capitalize }}</li>
      <li>Shelves: {{ book.genres | join: ", " }}</li>
      <li>{{ book.pages }} pages</li>
      <li>ISBN: <a href="https://worldcat.org/isbn/{{ book.isbn }}">{{ book.isbn }}</a></li>
      <li>Format: {{ book.format | capitalize }}</li>  
    </ul>
  </div>
  {% include share.html %}
</div>