---
layout: default
---

<div class="book" itemprop=itemReviewed itemscope itemtype=http://schema.org/Book>
  {% assign book = page %}
  {% if book.img == true %}
  <img class="book-full-img" src="{{ site.url }}/images/books/{{ book.slug }}.jpg" alt="{{ book.title }}" />
  {% endif %}
  <h1 itemprop=name>{{ book.title | xml_escape }}</h1>
  <h2 class="subtitle">{{ book.subtitle | xml_escape }}</h2>
  <h3>by <span class="author" itemprop=author>{{ book.author }}</span></h3>
  {% if book.series %}<h4 class="series">part {{ book.part }} of <em>{{ book.series }}</em></h4>{% endif %}
  <span class="book-meta">Completed: {{ book.date_completed | date: '%B %-d, %Y' }} &bull; Published: <span itemprop=datePublished>{{ book.publish_year }}</span> &bull; <a href="{{ book.url }}" title="Permalink">#</a></span>
  {% include book-rating.html %}
  <div class="body">{{ content }}</div>
  <div class="book-data">
    <ul>
      <li>{{ book.type | capitalize }}</li>
      <li>Shelves: {{ book.genres | join: ", " }}</li>
      <li><span itemprop=numberOfPages>{{ book.pages }}</span> pages</li>
      <li>ISBN: <a href="https://worldcat.org/isbn/{{ book.isbn }}"><span itemprop=isbn>{{ book.isbn }}</span></a> (<a href="https://www.goodreads.com/book/show/{{ book.goodreads_id }}" title="{{ book.title }}">Goodreads</a>)</li>
      <li>Format: {{ book.format | capitalize }}</li>
      {% if book.reviewers %}
      <li>Other Readers: {% for reviewer in book.reviewers %}<a href="{{ reviewer.url }}" title="{{ reviewer.author }}">{{  reviewer.author }}</a>{% endfor %}</li>
      {% endif %}
    </ul>
  </div>
  <div itemprop=publisher itemscope itemtype=http://schema.org/Organization>
    <meta content=colemanm.org itemprop=name>
    <meta content={{ site.url }} itemprop=url>
  </div>
  <meta content="Coleman McCormick" itemprop=author>  
  <meta content={{ site.url }}{{ book.url }} itemprop=url>
  {% include share.html %}
</div>
