<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<meta name='robots' content='index'/>
<title>{% if page.title %}{{ page.title | xml_escape}}{% if page.layout == "book"%} by {{ page.author }} — Summary, Notes, and Takeaways{% endif %} | {% endif %}Coleman McCormick</title>
{% include meta.html %}
<link rel='shortcut icon' href='/images/favicon.ico'/>
<link type="application/atom+xml" rel="alternate" href="https://www.colemanm.org/atom.xml" title="colemanm.org" />
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<script src="https://use.fontawesome.com/6c55d97f38.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Instrument+Serif&display=swap" rel="stylesheet">
{% if page.maps %}{% include map.html %}{% endif %}
{% if page.css %}<link href='/css/{{ page.css }}' rel='stylesheet' type='text/css' />{% endif %}
{% if site.genres != "" %}
  {% include book-genres.html %}
{% endif %}
{% include google-analytics.html %}
{% include posthog.html %}
</head>

<body class="bg-white text-gray-800">
  {% include header.html %}

  <div id="container" class="max-w-[900px] mx-auto px-4 py-4">
    <div id="main" class="prose max-w-none">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
{% include end.html %}
</body>
</html>
