<!DOCTYPE html>
<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<meta name='robots' content='index'/>
<title>{% if page.title %}{{ page.title | xml_escape}} | {% endif %}Coleman McCormick</title>
{% include meta.html %}
<link rel='shortcut icon' href='/images/favicon.ico'/>
{% feed_meta %}
<link rel='stylesheet' href='/css/site.css' type='text/css' media='screen' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic,600,600italic' rel='stylesheet' type='text/css'>
{% if page.maps %}{% include map.html %}{% endif %}
{% if page.css %}<link href='/css/{{ page.css }}' rel='stylesheet' type='text/css' />{% endif %}
{% include google-analytics.html %}
</head

<body>
  {% include social.html %}
  {% include header.html %}
  <div id="container">
    <div id="main">
      {{ content }}
    </div>
    <div class="mobile-nav">
      {% include mobile-nav.html %}
    </div>
    {% include footer.html %}
  </div>
</body>
</html>
