<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<meta name='robots' content='index'/>
<title>{% if page.title %}{{ page.title | xml_escape}}{% if page.layout == "book"%} by {{ page.author }} — Summary, Notes, and Takeaways{% endif %} | {% endif %}Coleman McCormick</title>
{% include meta.html %}
<link rel='shortcut icon' href='/images/favicon.ico'/>
<link type="application/atom+xml" rel="alternate" href="https://www.colemanm.org/atom.xml" title="colemanm.org" />
<link rel='stylesheet' href='/css/styles.css' type='text/css' media='screen' />
<script src="https://use.fontawesome.com/6c55d97f38.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inter:wght@400;700&display=swap" rel="stylesheet">
{% if page.maps %}{% include map.html %}{% endif %}
{% if page.css %}<link href='/css/{{ page.css }}' rel='stylesheet' type='text/css' />{% endif %}
{% if site.genres != "" %}
  {% include bookgenres.html %}
{% endif %}
{% include google-analytics.html %}
</head>

<body>
  {% include header.html %}
  <div id="container">
    <div id="main" class="limiter">
      {{ content }}
    </div>
    <div class="mobile-nav">
      {% include mobile-nav.html %}
    </div>
    {% include footer.html %}
  </div>
{% include end.html %}
</body>
</html>
