---
layout: default
title: Topic Archives
description: "Blog archives by topic."
---

<h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>

{% for post in page.posts %}
<div class='{{ post.layout }}'>
  <h2 class="mb-1"><a href='{% if post.layout == "link" %}{{ post.target }}{% elsif post.layout == "post"%}{{ post.url }}{% endif %}'>{{ post.title | xml_escape }} {% if post.layout == "link" %}&rarr;{% endif %}</a></h2>
  <span class="text-sm text-[#BBBBBB]">{{ post.date | date: '%B %-d, %Y' }} &bull; <a href="{{ post.url }}" title="Permalink">#</a></span>
  <div>
    {{ post.content | markdownify | truncatewords: 100 }}
    {% include image-credit-home.html %}
  </div>
</div>
{% endfor %}

<div class="flex justify-center"><a href="/archive">Browse the full archive &rarr;</a></div>

{% include divider.html %}