---
layout: default
title: Topic Archives
description: "Blog archives by topic."
---

<!-- <h1 class="archive__title">Archive of <span class="archive__badge">{{ page.title }}</span></h1>
<ul class="archive__list">
  {% for post in page.posts %}
  <li class="archive__item">
    <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
    <p class="archive__meta">
      <span class="archive__date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </p>
  </li>
  {% endfor %}
</ul> -->

<div class="page archive">
<h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>

<table cellspacing="0" class="archive-table">
{% for post in page.posts %}
	{% if post.status != "draft" %}
  <tr class="{% cycle 'even', 'odd' %}">
    {% if post.layout == "link" %}
    <td class="archive-icon">🔗</td>
    {% elsif post.tags contains "video" %}
    <td class="archive-icon">📺</td>
    {% elsif post.tags contains "music" %}
    <td class="archive-icon">🎵</td>
    {% elsif post.tags contains "quotes" %}
    <td class="archive-icon">💬</td>
    {% elsif post.tags contains "weekend reading" %}
    <td class="archive-icon">📰</td>
    {% elsif post.tags contains "books" and post.tags contains "reviews" %}
    <td class="archive-icon">📚</td>
    {% elsif post.tags contains "places" %}
    <td class="archive-icon">🗺</td>
    {% else %}
    <td class="archive-icon">☕️</td>
    {% endif %}
    <td><a href='{{ post.url }}'>{{ post.title | xml_escape }}</a></td>
    <td class="right-cell">{{ post.date | date: "%m.%d.%Y"  }}</td>
  </tr>
  {% endif %}
{% endfor %}
</table>
